<div class="row">
    <div class="col-xs-12">
        <ul>
            <h2>What is pipes</h2>
            <li>Pipes are feature built into Angular 2 which basically allows you to transform output in your template.</li>
            <li>There are pipes for different types of output and also for synchronous and asynchronous data.</li>
            <li>click <a href="https://angular.io/api?query=pipe">here</a> to know all angular built-in pipes</li>
            <h2>What is async dose?</h2>
            <li>It recognize that this is a promise abd as a side note, it would also work with observables, there it would subscribe automatically</li>
            <li> and after two seconds it will simply recognize that something changed,</li>
            <li>that the promise reolved or in the case of an observable, that data was sent through the subscription</li>
            <li>and it will print this data to the screen</li>
        </ul>

    </div>
</div>